<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title> 주소 검색 </title>
</head>
<script language="javascript">
	function init(){
		var url = location.href;
		var confmKey = "서비스 키 입력";
		var resultType = "4"; 
		var inputYn= "<%=inputYn%>";
		if(inputYn != "Y"){
			document.form.confmKey.value = "devU01TX0FVVEgyMDIxMDcwNjE0MTE1OTExMTM2NDY=";
			document.form.returnUrl.value = "http://localhost:8080/admin/bookstore/insert";
			document.form.resultType.value = resultType;
			document.form.action="http://www.juso.go.kr/addrlink/addrLinkUrl.do"; 
			document.form.submit();
		}else{
			opener.jusoCallBack("<%=roadFullAddr%>");
			window.close();
			}
	}
	
	function init(){
		  var url = location.href;
		  
		  var confmKey = "devU01TX0FVVEgyMDIxMDcwNjE0MTE1OTExMTM2NDY=";  
		  var resultType = "3"; 
		  var inputYn= "<%=inputYn%>";
		  if(inputYn != "Y"){

		    document.form.confmKey.value = confmKey;
		    document.form.returnUrl.value = url;
		    document.form.resultType.value = resultType;
		    document.form.action="https://www.juso.go.kr/addrlink/addrLinkUrl.do"; 
		    document.form.submit();
		  }else{
		    setContent("<%=roadFullAddr%>");
		  }
		}
	
	
	
	//================================필수====================================================
	if (! window.NEXACROHTML)
	{
	  window.NEXACROHTML = {};
	}
	  
	  window.NEXACROHTML.FireUserNotify = function(userdata)
	  {
	    
	  if (window.NEXACROWEBBROWSER)
	  {
	    // web runtime environment, iOS/iPadOS NRE
	    window.NEXACROWEBBROWSER.on_fire_onusernotify(window.NEXACROWEBBROWSER, userdata);
	  }
	  else if (typeof nexacro == "undefined")
	   {
	    // nexacro runtime environment 
	    window.document.title = userdata;
	  }
	  else if (nexacro)
	  {
	      // Android NRE, macOS NRE
	    nexacro.fireUserNotify(userdata)
	   }  
	}
	  
	//nexacro platform으로 선택된 주소 data넘겨주기
	function setContent(zipcode,addr,addrjibun,addrDetail)
	{
	  var str = zipcode +"," + addr + "," + addrjibun + ","+ addrDetail; 

	//nexacro platform onusernotify  이벤트 발생
	  window.NEXACROHTML.FireUserNotify(str);
	}  
	//넥사크로플랫폼 이벤트 발생 종료=================================================================
		
		
</script>

<body onload="init();">
	<form id="form" name="form" method="post">
		<input type="hidden" id="confmKey" name="confmKey" value=""/>
		<input type="hidden" id="returnUrl" name="returnUrl" value=""/>
		<input type="hidden" id="resultType" name="resultType" value=""/>
	</form>
</body>
</html>