<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="/inc/layout">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimun-scale=1.0, user-scalable=no">
   <link href="/css/admin/bookstore.css" rel="stylesheet">
   <link href="/css/common.css" rel="stylesheet">
   <script src="/js/admin/bookstore.js"></script>
   <title>서점 관리 페이지</title>
</head>

<body>
   <main layout:fragment="main">
      <div class="title">ADMIN</div>
      <nav class="mini-nav">
         <a href="" class="mini-nav-page">서점</a>
         <a href="">회원</a>
         <a href="">스탬프 투어</a>
         <a href="">리뷰</a>
         <a href="">해시태그</a>
      </nav>


      <section>
         <a th:href="@{/admin/bookstore/insert}" class="btn create-btn"> Create</a>
         <form>
            <div class="operation">
               <!--select와 검색 중 하나만 하기 추천
                    둘 다 구현은 너무 번거로움-->
               <select name="gu">
                  <option value="">전체</option>
                  <option th:each="gu : ${gu}" th:text="${gu.name}">옵션</option>
               </select>

               <input type="text" name="query">
               <input type="submit" class="btn" value="검색">
            </div>
         </form>
         <form method="post">
            <div class="card" th:each=" b : ${bookstore}">
               <img th:src="${b.logoImg}?:@{/images/books.png}" class="card-img">
               <div class="hi-span">
                  <span th:text="${b.name}">서점 이름</span>
                  <span th:text="${b.address}">서점 위치</span>
                  <span th:text="${b.operatingTime}">서점 오픈시간</span>
                  <span th:text="'서점지기: '+ ${b.memberId?:'없음'}">서점지기</span>
               </div>
               <div class="popup d-none">
                  <div>
                     <div th:each="m : ${member}" class="card">
                        <img th:src="${m.profileImg}?:@{/images/profile.png}" class="card-img">
                        <div class="hi-span">
                           <span th:text="${m.nickname}+'('+${m.email} +')'">닉네임(email)</span>
                           <span th:text="'가입: '+${#calendars.format(m.regDate, 'yy-MM-dd')}">가입일</span>
                        </div>
                        <div class="btn-list">
                           <a th:href="@{admin/bookstore/update}" class="btn assign-btn">임명</a>
                           <input type="hidden" name="memberId" th:value="${m.id}">
                           <input type="hidden" name="bookstoreId" th:value="${b.id}">
                        </div>
                     </div>
                  </div>
               </div>

               <div class="btn-list">
                  <a href="" class="btn popup-btn">서점지기 임명</a>
                  <a href="" class="btn">편집</a>
               </div>

            </div>
         </form>
      </section>
   </main>
</body>

</html>