<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/admin/member.css" rel="stylesheet">
<link href="/css/common.css" rel="stylesheet">
<title>알림창</title>
	<script>
	console.log("testest")
		confirm('이미 존재하는 해시태그입니다.');
		location.href='admin/hashtag';
	</script>
</head>
<body>
</body>
</html>