<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">
	
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책크인</title>
   	<link href="/css/common.css" type="text/css" rel="stylesheet">
   	<link href="/css/bookstore/detail.css" type="text/css" rel="stylesheet">
</head>
<body>
   	<main id="main" layout:fragment="main">
    	<section class="bookstore-title">
	    	<div th:each="b:${bookstore}">
	    		<img class="bookstore-img" th:src="${b.bgImagePath}?:@{/images/bookstore.png}">
	    		<div>
		    		<img class="logo-img" th:src="${b.logoImagePath}?:@{/images/books.png}">
	    			<div class="name" th:text="${b.name}"></div>
	    			<div class="hashtag"></div>
	    		</div>
	    	</div>
	    </section>    
	    <section class="bookstore-info">
	    	<div th:each="b:${bookstore}"> 
	    		<div class="info">
	    			<div class="address" th:text="${b.address}"></div>
	    			<div class="instagram" th:text="${b.instagramUrl}"></div>
	    			<div class="time" th:text="${b.operatingTime}"></div>
	    		</div>
	    		<div id="map"></div>
	    		<div class="rating"></div>
	    		<div class="review-list">
	    			<div class="review">
	    				<img class="img">
	    				<div>
							<img class="profile-img">
	                        <span class="nickname font">치치</span>						
						</div>
	    				<div class="review-hashtag"></div>
	    				<div class="content"></div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
    </main>	
</body>
</html>