input {
    font-family: 'TmoneyRoundWindRegular';
} 

.img{
	width: 20%;
	height: 20%;
	border-radius: 50px;
	float:left;
	padding: 0px;
	margin: 5px 10px;
}
#map{
	width: 100%;
	height: 250px;
	border: 1px solid black;
	margin-top: 10px;
	border-radius: 2px;
}
.store-name{
	border-bottom: solid 1px ;
	padding-bottom: 15px;
	padding-top: 15px;
} 

.span-title{
	font-weight: bold;
}
.span-adress{
	font-size: small;
}
.span-bottom{
	border-bottom: 20px;
}
                                      

/* .map-section>div {
	font-size: 15px;
	font-weight: bold;
	margin-top: 20px;
}

#map {
	width: 100%;
	height: 345px;
	border: 1px solid black;
	margin-top: 5px;
	border-radius: 2px;
} */