@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    margin: 0px;
}

body {
    height: 100%;
    font-family: 'TmoneyRoundWindRegular';
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    color: initial;
    text-decoration: initial;
}

.d-none {
    display: none !important;
}

button {
    border: 0;
    outline: 0;
}

/* -------------------------------------------------------------- */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.font {
    font-family: 'TmoneyRoundWindRegular';
}

.text-strong {
	font-weight: bold;
	color: rgb(250, 195, 43);
}

:root {
    --text-color-basic: #464646 !important;
    --text-color-light: #E2E2E2 !important;
    --text-color-strong: #FD9F28 !important;
    --bg-color-light: #FFFEFD !important;
    --hover-color-bg: #EFF0F1;
    --border-color-light: #E4E6E8;
}

/* -------------------------------------------------------------- */

#main {
	padding: 70px 0 60px 0;
}

.bookstore-img {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 180px;
}

.bookstore-title-info {
	position: absolute;
	left: 0px;
	top: 0px;
}
 
	.logo-img {
		display: inline-block;
		width: 100px;
		height: 100px;
	} 

#map {
	width: 100%; 
	height: 350px;
}

.wrap {position: absolute;left: 0;bottom: 37px;width: 210px;height: 91px;margin-left: -102px;text-align: left;overflow: hidden;font-size: 12px;    font-family: 'TmoneyRoundWindRegular';line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {width: 210px;height: 80px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
.info .body {position: relative;overflow: hidden;}
.info .desc {position: relative;margin-top: 13px;height: 75px;}
.desc .ellipsis {text-align: center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.info .link {color: #5085BB;}
