@charset "UTF-8";
body{
    margin: 0;
    height:100%;
    width:100%;
}

/*#search{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    margin-top: 5%;
}*/


#bookstore{
	 display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


#bookstore>div{
	border: 1px black solid;
    width: 80%;
    height: 230px;
    border-radius: 20px;
}
    
    #bookstore>div>div{
		height: 59%;
	}
	
	#bookstore>div>img{
	width: 100%;
    border-radius: 20px 20px 0 0/ 20px 20px 0 0;
}
    

.BS{
	    line-height: 17px;
    text-align: start;
    font-size: 13px;
}


.title{
	font-weight: bold;
}